doctype html
head
  meta(charset='UTF-8')
  meta(http-equiv='X-UA-Compatible' content='IE=edge')
  meta(name='viewport' content='width=device-width, initial-scale=1.0')
  title Grace Beater | Dancer's Palace
  link(rel='stylesheet' href='../static/style.css')
  link(rel='stylesheet' href='https://unpkg.com/aos@next/dist/aos.css')
.container
  nav#navbar
    ul
      #logo
        img(src='../static/logo.png')
        | GB
      li
        a(href='/') Home 
      li
        a(href='/about') About 
      li
        a(href='/contact') Contact Us
  .boxxx
    .boxx(data-aos='fade-left' style='margin-left: 700px;overflow : hidden')
      h1
        u Different Dance Forms
      p
        | Lorem ipsum dolor sit amet consectetur adipisicing elit. Aliquid fugiat dignissimos sed officia nihil asperiores obcaecati delectus, quibusdam officiis explicabo, minus reprehenderit sapiente porro quasi. Aliquam ratione recusandae, obcaecati soluta nam Lorem ipsum dolor, sit amet consectetur adipisicing elit. Reprehenderit eaque amet odit nihil itaque fugiat repudiandae quod, ex officiis corrupti nesciunt nisi sunt facere. Fuga, tempore? Quas perferendis voluptates iste sed maiores?
    .boxx(data-aos='fade-right' style='margin-left: 100px;')
      h1
        u Trained Staff
      p
        | Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ipsa, nisi neque tenetur nemo assumenda quos, architecto earum dolorum iure, vero sunt aperiam soluta atque minus corporis non ipsam doloremque quia deleniti minima?
    .boxx(data-aos='fade-left' style='margin-left: 700px;')
      h1
        u Dance History
      p
        | Lorem ipsum dolor sit amet consectetur adipisicing elit. Eveniet temporibus explicabo culpa, sequi laborum, veniam accusantium nobis atque tenetur deserunt vero facere obcaecati necessitatibus fuga fugiat alias velit delectus doloremque ducimus similique. Et deserunt dolorum itaque tenetur eos veritatis ad.
    .boxx(data-aos='fade-right' style='margin-left: 100px;')
      h1
        u Peaceful Environment
      p
        | Lorem ipsum dolor, sit amet consectetur adipisicing elit. In corrupti nemo reprehenderit dolor quisquam, facere necessitatibus veritatis alias distinctio doloremque consequuntur unde deserunt consequatur nam recusandae similique culpa repellendus voluptatum architecto accusantium sunt. Atque reprehenderit fugit sequi veritatis?
  footer#foot  Copyright &copy; 2021 GraceBeater.com | All rights reserved
script(src='https://unpkg.com/aos@next/dist/aos.js')
script.
  AOS.init();