doctype html
html 
  head 
    title Grace Beater | Dancer's Palace
    block scripts 
    block style
  body 
    nav#navbar 
        ul 
          div#logo
             img(src="../static/logo.png")
             | GB
          li #[a(href="/") Home ]
          li #[a(href="/about") About ]
          li #[a(href="/contact") Contact Us]
    block content 
    footer#foot 
      |Copyright © 2021 GraceBeater.com | All rights reserved
